/* src/components/ui/Button.css */

.btn {
  @apply inline-block px-6 py-3 text-sm font-semibold rounded-[15px] transition-colors duration-200;
}

.btn.primary {
  border: 2px solid transparent;
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-text);
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
}
.btn.primary:hover {
  background-color: var(--btn-primary-hover-bg);
  color: var(--btn-primary-hover-text);
  border-color: var(--btn-primary-hover-border);
}

.btn.secondary {
  background-color: var(--btn-secondary-bg);
  color: var(--btn-secondary-text);
  border: 2px solid var(--btn-secondary-border);
}
.btn.secondary:hover {
  background-color: var(--btn-secondary-hover-bg);
  color: var(--btn-secondary-hover-text);
  border: 2px solid var(--btn-secondary-hover-border);
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
